.btn{
    color: #000000;
    background-color: #22d1ee !important;
    margin-left: 20px !important; 
    transition: all 0.2s ease-in-out;
    
}

.btn:hover{
        cursor: pointer;
    background-color: whitesmoke;
    transform: scale(1.02);

    box-shadow: 0px 0px 3px 3px grey;
}

.space{
    margin-bottom: 310px;
}